body{
    background-color: #f5f4ff;
}

main{
    max-width: 1140px;
  
    margin: 0 auto;
}

/* fonts */
.noto-serif-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-serif {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}


 

/* navbar section */

.nav-section{
    display: flex;
    justify-content: space-between;
     
}
.menus ul{
    display: flex;
    gap: 48px;
}

.menus ul li {
   list-style: none;
}

.menus ul li a{
  text-decoration: none;
   color: rgba(0, 0, 0, 0.5);
}

 #home{
   
    font-weight: 800;
     color:#252432;
}

 .shopabout{
    
      font-weight: 200;   
      color:rgba(137, 135, 161, 1);
}
#cart{
  font-weight: 300;
  color: #000000;
}
#favawesome{
  margin: 10px;
}


/* Banner Hero Section */

.banner-container{
  display: flex;
  margin-top: 120px;
}

.heading-text{
  font-weight: 800;
  font-size: 55px;
}
.para-text{
  font-size: 22px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.49);
  
}
#red-text{
  color: #E95A08;
}
 
/* cards */

.cards{
 
  margin-top: 120px;
}
.texts-deco{
   text-align: center;
}

.head-title{
  font-size: 50px;
}

.btn-primary{
  background-color: #E95A08;
  padding: 19px 80px 19px 80px ;
  border: none;
  color:#FFFFFF;
 font-size: 16px;
}
.center-text{
  text-align: center;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;
}
.title, .price{
  text-align: center;
}
.price{
  font-weight: 800;
}

.shorty{
  margin: 0px 25px 126px;
}

/* descriptions */

.descriptions{
  display: flex;
  margin-top: 210.12px;
}

.desc-text{
  margin-left: 60px;
}

.desc-text ul li{
  margin-top:20px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 180px;
}

.budge-img{
  width: 286px;
  height: 286px;
  position: absolute;
  margin-top:-125px;
  margin-left:-200px;

}

img#drop-shadow{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

/* deals section */
.deals{
  margin-top: 133px;
}

.deals-texts{
  text-align: center;
}
.deals-texts h2{
  font-weight: 800;
  font-size: 50px;
}

.deals-texts p{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin: 15px 200px 120px 200px;
}
.img-sect{
  display: flex;
  gap: 20px;
}
/* .opa-img{
  border-radius: 22px;
} */
.opa-img2{
  border-radius: 14px;
}

.sec2{
  position: relative;
  border-radius: 22px;
  border: 1px solid red;
  
}
 .content{
  position: absolute;
  text-align: center;
   bottom: 0;
  color: #FFFFFF;
 
   background: rgba(0, 0, 0, 0.4);
    
 
   padding: 100px 257px 103px 80px;
   
}
.sec2-img{
  margin-top: 20px;
}
.heading-bold{
  font-weight: 800;
  font-size: 40px;
}
.content p a{
  color: #FFFFFF;
}
.text-semi{
  font-weight: 600;
  font-size: 28px;
  margin-top: -15px;
  margin-right: 45px;
  
}
.bg-container{
    background-image: url(./assets/news-letter-bg.png);
    width: 100%;
    height: 433px;
  background-size: cover;  
  position: relative;
  margin-top: 120px;
  
  
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#box-disc{
  padding: 19px 100px 19px 100px ;
  border: none;
  font-size: 16px;
  text-align: left;
   
}

.btn-box{
  margin-left: -4px;
  background-color: #E95A08;
  padding: 19px 80px 19px 80px ;
  border: none;
  color:#FFFFFF;
  font-size: 16px;
}

.box-text{
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
}

.footer-container{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}
.container-div p{
  font-size: 22;
  color: rgba(0, 0, 0, 0.5);
  width: 359px;
}
.container-div-dash{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:100px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18;
}
.container-div-dash ul li{
  margin-top: 32px;
  width: 146px;
  
}

  .container-div-social{
  display:flex;
  width: 450px;
  
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
  margin-left: 110px;
}

.font-sm{
  font-size: 18px;
}
 
#xxx{
  margin-top:9px;
}

.container-div-dash ul li{
  list-style: none;
}

.container-div-dash ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.black-clr{
   color: rgb(19, 18, 18); }